PORT=3000
JWT_SECRET=cambia_esto_por_algo_seguro

# Fly PostgreSQL - se genera automaticamente al hacer attach
# fly postgres attach --app futbol-web futbol-stream-db
DATABASE_URL=postgres://usuario:password@futbol-stream-db.internal:5432/futbol_stream

INGEST_HOST=futbol-stream-ingest.fly.dev
TIGRIS_ENDPOINT=https://fly.storage.tigris.dev
TIGRIS_ACCESS_KEY=
TIGRIS_SECRET_KEY=
TIGRIS_BUCKET=futbol-stream-videos
